# API Port
PORT=3000

# Database
DATABASE_URL="postgres://postgres:password@localhost:5432/email_automation"

# Authentication (Required by API)
# Run the following command in your terminal to generate a secure hex key:
# openssl rand -hex 32
JWT_SECRET="<change-me-generate-with-openssl>"
JWT_ENCRYPTION_KEY="<change-me-generate-with-openssl>"

# Cache & Queues (Defaults to in-memory, but Redis/SQS is supported)
# CACHE_TYPE="redis"
# REDIS_URL="redis://:root@localhost:6379"
# QUEUE_TYPE="sqs"

# AWS Configuration (Required if using AWS SQS or SES)
# AWS_REGION="us-east-1"
# AWS_ACCESS_KEY_ID="<your-aws-access-key-id>"
# AWS_SECRET_ACCESS_KEY="<your-aws-secret-access-key>"
# AWS_SQS_ENDPOINT_URL="http://localhost:4566" # Optional: For local localstack testing

# AWS SQS Queue URLs (Required by API/Worker if QUEUE_TYPE is "sqs")
# AUTOMATION_EVENTS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/automation-events"
# WAITING_STEPS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/waiting-contact-workflow-steps"
# WORKFLOW_EMAILS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/workflow-emails.fifo"
# CONDITIONAL_SPLIT_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/conditional-split.fifo"
# WEBHOOK_STEPS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/webhook-steps.fifo"
# FINISHED_STEPS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/finished-contact-workflow-steps"
# EMAIL_TRACKING_EVENTS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/email-tracking-events"
# WEBHOOK_DELIVERIES_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/123456789012/webhook-deliveries"

# AWS SES Configuration
# FROM_EMAIL_ADDRESS="noreply@yourdomain.com"

# Web App Configuration
VITE_API_URL="http://localhost:3000"
